* {
  --blue: #00a2e8;
  --blue-clear: #00a2e86a;
  --black: #000000;
  --off-black: #434343;
  --grey: #999999;
  --white: #ffffff;
  --clear-white: #ffffff6b;
  --off-white: #fafafa;
  --clear-red: #ff00006b;
  --clear-green: #00ff1135;
  --green: #093d0cd3;
  scroll-behavior: smooth;
  font-family: "Raleway", sans-serif;
}

@keyframes pulse {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(0.9) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}
@keyframes slide {
  0% {
    left: -10%;
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    left: 110%;
  }
}
@keyframes loading {
  0% {
    left: 100%;
  }
  50% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
.comment-button{
  border-radius: 0.5rem;
  border: 1px solid var(--black);
  font-size: 150%;
  padding: 10%;
  width: 100%;
  cursor: pointer;
}
#partners {
  overflow: hidden;
  position: relative;
}
#partners ul {
  display: flex;
  max-width: 1250px;
  margin: auto;
}
#partners ul li {
  position: absolute;
  left: -10%;
  transform: scale(0.5);
  transition: transform 0.5s ease;
  animation: slide 30s infinite linear;
}

#contact.msg .inner-container {
  padding-bottom: 8rem;
}
#contact.msg .inner-container #inner-pop {
  bottom: 0;
}
#contact .inner-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 1250px;
  margin: auto;
  padding: 2rem;
  border: 1px solid var(--black);
  background-color: var(--white);
  border-radius: 0.5rem;
  transition: padding 1s ease;
  overflow: hidden;
}
#contact .inner-container h3 {
  padding-left: 20rem;
}
#contact .inner-container .success {
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  background: var(--white);
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  color: var(--black);
  border-radius: 0.5rem 0.5rem 0 0;
  transition: top 1s ease;
  border: 1px solid var(--black);
  border-bottom-width: 0px;
}
#contact .inner-container .success img {
  flex: 0 0 20%;
  max-width: 4rem;
}
#contact .inner-container .success .info {
  padding-left: 1rem;
  flex: 0 0 80%;
}
#contact .inner-container .success .info h3 {
  padding: 0;
}
#contact .inner-container .submit {
  margin: 2rem auto;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  width: 20%;
}
#contact .inner-container .submit input {
  height: 100%;
  cursor: pointer;
}
#contact .inner-container .submit:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  background: var(--blue-clear);
  pointer-events: none;
  transition: left 0.5s ease;
}
#contact .inner-container .submit:hover::after {
  left: 0;
}
#contact .inner-container .submit.loading:after {
  animation: loading 2s infinite;
}
#contact .inner-container .privacy {
  font-weight: 600;
  font-size: 110%;
  cursor: pointer;
}
#contact .inner-container .g-recaptcha > div {
  margin: auto;
}
#contact .inner-container tbody {
  font-size: 125%;
}
#contact .inner-container tbody th,
#contact .inner-container tbody td {
  padding: 1rem;
}
#contact .inner-container tbody th {
  text-align: right;
  text-transform: uppercase;
}
#contact .inner-container tbody th:after {
  content: ":";
}
#contact .inner-container tbody td {
  color: var(--off-black);
}
#contact .inner-container form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#contact .inner-container form .row {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding: 1rem 1rem 0;
  margin: 0 0px 4px 0;
}
#contact .inner-container form .row.text {
  flex: 0 0 100%;
}
#contact .inner-container form .row.full {
  flex: 0 0 93%;
}
#contact .inner-container form .row .select {
  margin-bottom: 1rem;
}
#contact .inner-container form .row .select .css-yk16xz-control {
  border-color: var(--black);
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin: 0px -80px 4px 0;
}

@media (max-width: 415px) {
  #contact .inner-container form .row .select .css-yk16xz-control {
    border-color: var(--black);
    padding: 0.25rem;
    border-radius: 0.5rem;
    width: fit-content;
    margin: auto;
  }
}

@media (max-width: 992px) {
  #contact .inner-container form .row {
    flex: 100%;
  }
}
#contact .inner-container form .row-end {
  flex: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
#contact .inner-container form input,
#contact .inner-container form textarea,
#contact .inner-container form select {
  padding: 1rem 0.5rem;
  font-size: 150%;
  margin: 0 0 1rem 0;
  border-radius: 0.5rem;
  min-width: 15rem;
  border: 1px solid var(--black);
}
#contact .inner-container form input[type="checkbox"],
#contact .inner-container form textarea[type="checkbox"],
#contact .inner-container form select[type="checkbox"] {
  min-width: auto;
  margin-right: 0.5rem;
}
#contact .inner-container form .button-container {
  margin: 2rem auto;
}

#preferences {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 8000;
  background: radial-gradient(circle, #00a2e8 0%, #7ad0f5 100%);
  backdrop-filter: blur(100px);
  padding: 0;
  border-radius: 1rem;
  height: 45rem;
  transition: all 1s ease;
  width: 100%;
  max-width: 800px;
  color: var(--white);
  overflow: hidden;
}
#preferences .policy {
  display: flex;
  flex-direction: column;
}
#preferences .policy p {
  font-size: 125%;
}
#preferences .policy .toggle-btn {
  border: 1px solid var(--clear-white);
  padding: 0.75rem 2rem;
  width: 8rem;
  text-transform: uppercase;
  margin: auto;
  color: var(--white);
  font-weight: 600;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 1px 1px 5px var(--off-black);
  cursor: pointer;
}
#preferences .policy .toggle-btn:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transition: all 0.5s ease;
  left: 0;
}
#preferences .policy .toggle-btn.off::before {
  background-color: var(--clear-red);
}
#preferences .policy .toggle-btn.on::before {
  background-color: var(--clear-green);
}
#preferences .menu li {
  width: 100%;
  font-size: 150%;
  font-weight: 600;
  height: 3rem;
  text-align: center;
  border-top: 1px solid var(--off-white);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: var(--white);
  text-shadow: 0px 1px 2px var(--off-black);
}
#preferences .menu li:first-child {
  border-top: 0;
}
#preferences .menu li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clear-white);
  left: -100%;
  top: 0;
  transition: left 0.5s ease;
}
#preferences .menu li:hover::before {
  left: 0;
}
#preferences .menu li.active:before {
  left: 0;
}
#preferences .button-container {
  border-color: var(--white-clear);
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
#preferences .button-container:before {
  background-color: var(--clear-white);
}
#preferences .button-container .button {
  color: var(--white);
  font-weight: 500;
}
#preferences p {
  padding: 1rem 2rem;
}
/*  */
#learn-more {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, #00a2e8 0%, #7ad0f5 100%);
  z-index: 800;
  padding: 2rem 0;
  border-radius: 1rem;
  width: 100%;
}
#learn-more h2 {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--white);
  font-size: 200%;
}
#learn-more .list {
  width: 100%;
  background: var(--blue);
}
#learn-more .list li {
  width: 100%;
  font-size: 150%;
  font-weight: 600;
  height: 2.5rem;
  text-align: center;
  border-top: 1px solid var(--off-white);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: var(--white);
  text-shadow: 0px 1px 2px var(--off-black);
}
#learn-more .list li:first-child {
  border-top: 0;
}
#learn-more .list li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clear-white);
  left: -100%;
  top: 0;
  transition: left 0.5s ease;
}
#learn-more .list li:hover::before {
  left: 0;
}
#learn-more .list li.active:before {
  left: 0;
}
#learn-more .policy {
  margin-bottom: 4rem;
  height: 15rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
#learn-more .policy p {
  color: var(--white);
  padding: 0.5rem;
}
#learn-more .button-container {
  border-color: var(--white-clear);
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
#learn-more .button-container:before {
  background-color: var(--clear-white);
}
#learn-more .button-container .button {
  color: var(--white);
  font-weight: 500;
}
@media (min-width: 992px) {
  #learn-more {
    width: auto;
  }
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  width: 100%;
  z-index: 600;
  transition: all 1s ease;
  color: var(--black);
  margin: auto;
}
#header:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 8rem;
  background-color: var(--white);
  box-shadow: 0 0 5px var(--black);
  top: -5rem;
  z-index: -1;
  transition: top 0.5s ease;
}
#header .contact-us-info {
  display: flex;
  justify-content: center;
  background-color: var(--white);
  color: var(--black);
  margin: 0.2rem 0;
}
#header .contact-us-info li {
  padding: 0 2rem;
  border-left: 1px solid var(--off-black);
  font-size: 80%;
  margin: auto 0;
}
#header .contact-us-info li:nth-child(1),
#header .contact-us-info li:nth-child(3) {
  border: none;
}
#header .contact-us-info li:nth-child(2) {
  margin-right: 0;
}
#header .contact-us-info li a {
  width: 100%;
  height: 100%;
}
#header .contact-us-info li a img {
  width: 2rem;
  height: 2rem;
  box-shadow: 0 0 2px var(--black);
  border-radius: 50%;
  transition: all 0.5s ease;
}
#header .contact-us-info li a:hover img {
  box-shadow: 0 0 10px var(--black);
}
#header .contact-us-info li.could-button {
  padding: 0 0.5rem;
  width: 7rem;
  height: 3rem;
  text-align: center;
  position: relative;
}

@media (max-width: 360px) {
  #header .contact-us-info li.could-button {
    padding: 0 0.5rem;
    width: 7rem;
    height: 3rem;
    text-align: center;
    position: relative;
  }
}
#header .contact-us-info li.could-button:hover button {
  text-shadow: 0 0 20px var(--off-black);
}
#header .contact-us-info li.could-button:hover span {
  background-color: #46798f;
}
#header .contact-us-info li.could-button button {
  width: 100%;
  height: 100%;
  z-index: 50;
  position: relative;
  color: var(--white);
  text-shadow: 0 0 5px var(--off-black);
  cursor: pointer;
}
#header .contact-us-info li.could-button span {
  content: "";
  position: absolute;
  bottom: 5px;
  background-color: var(--blue);
  transition: all 0.5s ease;
}
#header .contact-us-info li.could-button span:nth-child(2) {
  box-shadow: 2px -2px 20px var(--black);
  left: 10%;
  width: 80%;
  height: 20px;
  border-radius: 5rem;
}
#header .contact-us-info li.could-button span:nth-child(3) {
  left: 10px;
  width: 30px;
  height: 30px;
  border-radius: 5rem;
}
#header .contact-us-info li.could-button span:nth-child(4) {
  left: 35px;
  width: 45px;
  height: 45px;
  border-radius: 5rem;
}
#header .contact-us-info li.could-button span:nth-child(5) {
  left: 73px;
  width: 36px;
  height: 36px;
  border-radius: 5rem 5rem 5rem 5rem;
}
#header .button-container {
  padding: 0.15rem 0.75rem;
  border-radius: 0.25rem;
}
#header .header-menu {
  display: flex;
  flex-direction: row;
  max-width: 1500px;
  margin: auto;
  height: 100%;
  padding: 0 5rem;
}
#header .header-menu li {
  margin: auto;
  font-size: 125%;
  position: relative;
}
#header .header-menu li a:after {
  content: "";
  width: 100%;
  height: 1px;
  background-color: var(--white);
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: all 0.5s ease;
}
#header .header-menu li a:hover::after {
  background-color: var(--black);
}
@media (max-width: 992px) {
  #header .header-menu li {
    display: none;
  }
}
@media (max-width: 992px) {
  #header .contact-us-info li {
    display: none;
  }
  #header .contact-us-info li.could-button {
    display: inherit;
  }
}

#footer {
  padding: 0 0 2rem;
  justify-content: center;
  background: radial-gradient(
    circle,
    rgba(0, 162, 232, 0.8) 0%,
    rgba(0, 162, 232, 0.8) 100%
  );
  color: var(--off-white);
}
#footer .container {
  max-width: 1250px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
#footer .map {
  margin: auto;
  width: 100%;
  height: 380px;
  overflow: hidden;
}
#footer .map iframe {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0 0 1rem 1rem;
  border: none;
}
#footer .logo {
  width: 100%;
}
#footer .social-container {
  display: flex;
}
#footer .social-container a {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
}
#footer .social-container a img {
  width: 3rem;
  height: 3rem;
  box-shadow: 0 0 5px var(--off-black);
  border-radius: 50%;
  transition: all 0.5s ease;
}
#footer .social-container a:hover img {
  box-shadow: 0 0 10px var(--off-black);
}
#footer ul {
  padding: 2rem;
  margin: 0 1rem;
}
#footer ul:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
}
#footer ul h4 {
  margin-bottom: 0.5rem;
  position: relative;
  font-size: 150%;
  font-weight: 300;
}
#footer ul h4::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 1px;
  background-color: var(--white);
  bottom: -0.25rem;
  left: 0;
}
#footer ul tr th:after {
  content: ":";
}
#footer ul li {
  padding: 0.25rem 0;
}
@media (max-width: 992px) {
  #footer {
    text-align: center;
  }
  #footer .container {
    display: flex;
    flex-direction: column;
  }
  #footer .container .social-container {
    justify-content: center;
  }
  #footer .container h4:after {
    left: 45%;
  }
  #footer .container ul {
    padding: 2rem 0.5rem;
  }
}

#vision > p {
  max-width: 800px;
  margin: auto;
}
#vision .container ul {
  display: flex;
  max-width: 1250px;
  margin: auto;
  padding: 4rem 0;
}
#vision .container ul li {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#vision .container ul .vision-title {
  text-transform: lowercase;
}
#vision .container ul .vision-title::first-letter {
  text-transform: capitalize;
}
#vision .container ul .icon {
  width: 50%;
  margin: auto;
}
#vision .container ul .nr {
  font-size: 400%;
  color: var(--blue);
}
@media (max-width: 992px) {
  #vision .container ul {
    display: flex;
    flex-direction: column;
  }
}

#blog > p {
  max-width: 800px;
  margin: auto;
}
#blog .container ul {
  display: flex;
  max-width: 1250px;
  margin: auto;
  padding: 4rem 0;
}
#blog .container ul li {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#blog .container ul .vision-title {
  text-transform: lowercase;
}
#blog .container ul .vision-title::first-letter {
  text-transform: capitalize;
}
#blog .container ul .icon {
  width: 50%;
  margin: auto;
}
#blog .container ul .nr {
  font-size: 400%;
  color: var(--blue);
}
@media (max-width: 992px) {
  #blog .container ul {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 360) {
  #blog > p {
    max-width: 800px;
    margin: auto;
  }
  #blog .container ul {
    display: flex;
    max-width: 1250px;
    margin: auto;
    padding: 4rem 0;
  }
  #blog .container ul li {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  #blog .container ul .vision-title {
    text-transform: lowercase;
  }
  #blog .container ul .vision-title::first-letter {
    text-transform: capitalize;
  }
  #blog .container ul .icon {
    width: 50%;
    margin: auto;
  }
  #blog .container ul .nr {
    font-size: 400%;
    color: var(--blue);
  }
}

#project > p {
  max-width: 800px;
  margin: auto;
}
#project .container ul {
  display: flex;
  max-width: 1250px;
  margin: auto;
  padding: 4rem 0;
}
#project .container ul li {
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#project .container ul .vision-title {
  text-transform: lowercase;
}
#project .container ul .vision-title::first-letter {
  text-transform: capitalize;
}
#project .container ul .icon {
  width: 50%;
  margin: auto;
}
#project .container ul .nr {
  font-size: 400%;
  color: var(--blue);
}
@media (max-width: 992px) {
  #project .container ul {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 360) {
  #project > p {
    max-width: 800px;
    margin: auto;
  }
  #project .container ul {
    display: flex;
    max-width: 1250px;
    margin: auto;
    padding: 4rem 0;
  }
  #project .container ul li {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  #project .container ul .vision-title {
    text-transform: lowercase;
  }
  #project .container ul .vision-title::first-letter {
    text-transform: capitalize;
  }
  #project .container ul .icon {
    width: 50%;
    margin: auto;
  }
  #project .container ul .nr {
    font-size: 400%;
    color: var(--blue);
  }
}

#welcome .video-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  border-bottom: 1px solid var(--off-white);
}
#welcome .video-container .logo {
  z-index: 100;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  animation: pulse 10s infinite;
}
#welcome .video-container video {
  position: absolute;
  left: -50%;
  width: 200%;
  max-height: 150%;
}
@media (max-width: 992px) {
  #welcome .video-container video {
    transform: scale(3);
  }
}

#trainings .inner {
  display: flex;
  max-width: 1250px;
  margin: auto;
  flex-wrap: wrap;
}
#trainings .inner h3 a {
  text-decoration: underline;
}
#trainings .inner h3 a:hover {
  color: var(--blue);
}
#trainings .inner .img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  max-width: 25rem;
}
#trainings .inner > li {
  flex: 30%;
  padding: 2rem 1rem;
}
#trainings .inner > li > a {
  margin-left: 1rem;
}
#trainings .inner ul li {
  padding: 0.5rem 0;
  padding-left: 1rem;
  position: relative;
}
#trainings .inner ul li:before {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  top: 1.2rem;
  left: 0;
  border-radius: 50%;
  background: var(--blue);
}
@media (max-width: 992px) {
  #trainings .inner {
    flex-direction: column;
  }
}

#about .container {
  display: grid;
  align-content: center;
  margin: auto;
  max-width: 1500px;
  max-lines: 1500px;
  grid-template-columns: 2fr 2fr 2fr;
  content: "";
}
#about .container .item {
  padding: 4rem 2rem 2rem;
  flex: 0 0 60%;
  border: 0px solid var(--grey);
  transition: all 2s ease;
}
#about .container .item h3 {
  font-size: 175%;
}
#about .container .item .icon {
  width: 5rem;
}
#about .container .item p {
  font-size: 125%;
  line-height: 2;
  font-weight: 300;
  margin-bottom: 1rem;
}

#about .container .item:nth-child(1),
#about .container .item:nth-child(2),
#about .container .item:nth-child(3) {
  border-bottom-width: 1px;
}
#about .container .item:nth-child(1),
#about .container .item:nth-child(2),
#about .container .item:nth-child(4),
#about .container .item:nth-child(5) {
  border-right-width: 1px;
}
#about .container .item:hover p {
  background: radial-gradient(
    circle,
    rgba(0, 162, 232, 0.3) 0%,
    rgba(0, 162, 232, 0.1) 100%
  );
  display: block;
}

#about .image-container {
  margin: auto;
  width: 100%;
  flex: 0 0 40%;
}
#about .image-container img {
  width: 100%;
}
@media (max-width: 992px) {
  #about .container {
    display: flex;
    flex-direction: column;
  }
  #about .container .item {
    border-bottom-width: 1px;
  }
  #about .container .item:nth-child(odd) {
    border-right-width: 0px;
  }
  #about .container .item:nth-child(even) {
    border-right-width: 0px;
  }
}

#services .container {
  display: grid;
  margin: auto;
  max-width: 1500px;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
    align-self: center;
}
#services .container .item {
  padding: 4rem 2rem;
  flex: 0 0 60%;
  border: 0px 0px var(--grey);
  transition: all 2s ease;
  justify-content: center;
    align-self: center;
}
#services .container .item h3 {
  font-size: 175%;
}
#services .container .item .icon {
  width: 60%;
}
#services .container .item p {
  font-size: 125%;
  line-height: 2;
  font-weight: 300;
  margin-bottom: 1rem;
}
#services .container .item:nth-child(1),
#about .container .item:nth-child(2),
#about .container .item:nth-child(3) {
  border-bottom-width: 1px;
}
#services .container .item:nth-child(1),
#about .container .item:nth-child(2),
#about .container .item:nth-child(4),
#about .container .item:nth-child(5) {
  border-right-width: 1px;
}

#services .image-container {
  margin: auto;
  width: 100%;
  flex: 0 0 40%;
}
#services .image-container img {
  width: 100%;
}
@media (max-width: 992px) {
  #services .container {
    display: flex;
    flex-direction: column;
  }
  #services .container .item {
    border-bottom-width: 1px;
  }
  #services .container .item:nth-child(odd) {
    border-right-width: 0px;
  }
  #services .container .item:nth-child(even) {
    border-right-width: 0px;
  }
}

#products .container {
  display: grid;
  margin: auto;
  max-width: 1500px;
  grid-template-columns: 1fr 1fr 1fr;
   justify-content: center;
    align-self: center;
}
#products .container .item {
  padding: 4rem 2rem;
  flex: 0 0 60%;
  border: 0px 0px var(--grey);
  transition: all 2s ease;
  justify-content: center;
     align-self: center;
}
#products .container .item h3 {
  font-size: 175%;
}
#products .container .item .icon {
  width: 60%;
}
#products .container .item p {
  font-size: 125%;
  line-height: 2;
  font-weight: 300;
  margin-bottom: 1rem;
}
#products .container .item:nth-child(1),
#about2 .container .item:nth-child(2),
#about2 .container .item:nth-child(3) {
  border-bottom-width: 1px;
}
#products .container .item:nth-child(1),
#about2 .container .item:nth-child(2),
#about2 .container .item:nth-child(4),
#about2 .container .item:nth-child(5) {
  border-right-width: 1px;
}
#products .container .item .cardText:hover {
  background: radial-gradient(
    circle,
    rgba(0, 162, 232, 0.3) 0%,
    rgba(0, 162, 232, 0.1) 100%
  );
}
#products .image-container {
  margin: auto;
  width: 100%;
  flex: 0 0 40%;
}
#products .image-container img {
  width: 100%;
}
@media (max-width: 992px) {
  #products .container {
    display: flex;
    flex-direction: column;
  }
  #products .container .item {
    border-bottom-width: 1px;
  }
  #products .container .item:nth-child(odd) {
    border-right-width: 0px;
  }
  #products .container .item:nth-child(even) {
    border-right-width: 0px;
  }
}

#trainings .container {
  display: grid;
  margin: auto;
  max-width: 1500px;
  grid-template-columns: 1fr 1fr 1fr;
}
#trainings .container .item {
  padding: 4rem 2rem;
  flex: 0 0 60%;
  border: 0px 0px var(--grey);
  transition: all 2s ease;
}
#trainings .container .item h3 {
  font-size: 175%;
}
#trainings .container .item .icon {
  width: 60%;
}
#trainings .container .item p {
  font-size: 125%;
  line-height: 2;
  font-weight: 300;
  margin-bottom: 1rem;
}
#trainings .container .item:nth-child(1),
#about2 .container .item:nth-child(2),
#about2 .container .item:nth-child(3) {
  border-bottom-width: 1px;
}
#trainings .container .item:nth-child(1),
#about2 .container .item:nth-child(2),
#about2 .container .item:nth-child(4),
#about2 .container .item:nth-child(5) {
  border-right-width: 1px;
}
#trainings .container .item .cardText:hover {
  background: radial-gradient(
    circle,
    rgba(0, 162, 232, 0.3) 0%,
    rgba(0, 162, 232, 0.1) 100%
  );
}
#trainings .image-container {
  margin: auto;
  width: 100%;
  flex: 0 0 40%;
}
#trainings .image-container img {
  width: 100%;
}
@media (max-width: 992px) {
  #trainings .container {
    display: flex;
    flex-direction: column;
  }
  #trainings .container .item {
    border-bottom-width: 1px;
  }
  #trainings .container .item:nth-child(odd) {
    border-right-width: 0px;
  }
  #trainings .container .item:nth-child(even) {
    border-right-width: 0px;
  }
}

#privacyPolicy {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle, #00a2e8 0%, #7ad0f5 100%);
  z-index: 800;
  padding: 2rem 0;
  border-radius: 1rem;
  width: 100%;
}
#privacyPolicy h2 {
  text-align: center;
  padding-bottom: 2rem;
  color: var(--white);
  font-size: 200%;
}
#privacyPolicy .list {
  width: 100%;
  background: var(--blue);
}
#privacyPolicy .list li {
  width: 100%;
  font-size: 150%;
  font-weight: 600;
  height: 2.5rem;
  text-align: center;
  border-top: 1px solid var(--off-white);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  color: var(--white);
  text-shadow: 0px 1px 2px var(--off-black);
}
#privacyPolicy .list li:first-child {
  border-top: 0;
}
#privacyPolicy .list li:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--clear-white);
  left: -100%;
  top: 0;
  transition: left 0.5s ease;
}
#privacyPolicy .list li:hover::before {
  left: 0;
}
#privacyPolicy .list li.active:before {
  left: 0;
}
#privacyPolicy .policy {
  margin-bottom: 4rem;
  height: 15rem;
  overflow-x: hidden;
  overflow-y: scroll;
}
#privacyPolicy .policy p {
  color: var(--white);
  padding: 0.5rem;
}
#privacyPolicy .button-container {
  border-color: var(--white-clear);
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}
#privacyPolicy .button-container:before {
  background-color: var(--clear-white);
}
#privacyPolicy .button-container .button {
  color: var(--white);
  font-weight: 500;
}
@media (min-width: 992px) {
  #privacyPolicy {
    width: auto;
  }
}

#unsubscribe {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 800;
  background: var(--white);
  padding: 2rem 1rem;
  border: 1px solid var(--black);
  border-radius: 1rem;
  width: 90%;
}
#unsubscribe h2 {
  margin-bottom: 1rem;
  color: var(--blue);
  font-size: 200%;
}
#unsubscribe .section {
  margin: 1rem 0;
}
#unsubscribe .section label {
  font-size: 110%;
}
#unsubscribe .button-container {
  margin-top: 1rem;
}
@media (min-width: 992px) {
  #unsubscribe {
    width: auto;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

ul,
ol,
li,
p {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h3 {
  margin-bottom: 1rem;
  font-size: 150%;
}

p,
li {
  font-size: 110%;
  line-height: 1.5;
}

button,
input,
textarea,
select {
  border: none;
  background: none;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

section {
  padding: 10rem 0.5rem;
  display: flex;
  flex-direction: column;
  transition: all 1s ease;
}
section:nth-child(even) {
  background-color: var(--off-white);
}
section.hide {
  opacity: 0;
  transform: scale(0.9);
}
section.visible {
  opacity: 1;
  transform: scale(1);
}

#inner-pop {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 10%;
  bottom: -10rem;
  width: 80%;
  border: 1px solid var(--black);
  border-bottom-width: 0;
  border-radius: 1rem 1rem 0 0;
  transition: all 1s ease;
}
#inner-pop .icon {
  flex: 50%;
  max-width: 3rem;
  padding: 0.5rem;
}
#inner-pop .info {
  flex: 50%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}
#inner-pop .info h3 {
  margin: auto 0;
}

.number {
  font-family: sans-serif;
}
.number font {
  font-family: inherit;
}

#pop-up-message {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem 1rem;
  background: var(--white);
  border: 1px solid var(--black);
  box-shadow: 0 0 5px var(--black);
  z-index: 99999;
}
#pop-up-message .button-container {
  margin: auto;
}

.section-title {
  font-size: 300%;
  margin: 4rem 0;
  position: relative;
  width: fit-content;
  margin: auto;
  padding-bottom: 4rem;
}
.section-title:before,
.section-title:after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 1px;
  background-color: var(--black);
  top: 1.75rem;
}
.section-title::after {
  right: -2.5rem;
}
.section-title::before {
  left: -2.5rem;
}

@media (max-width: 415px) {
  .section-title {
    font-size: 200%;
    margin: 4rem 0;
    position: relative;
    width: fit-content;
    margin: auto;
    padding-bottom: 4rem;
  }
}

#burger-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background: var(--white);
  z-index: 300;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: 150%;
  transition: left 1s ease;
}
#burger-menu li {
  padding: 1rem 0;
}
#burger-menu.open {
  left: 0;
}

.goog-te-banner-frame,
.goog-logo-link {
  display: none;
}

.skiptranslate {
  color: transparent;
}
.skiptranslate
  .goog-te-combo
  option:not([value="en"]):not([value="es"]):not([value="de"]):not([value="pl"]):not([value="fr"]) {
  display: none;
}

.goog-te-gadget .goog-te-combo {
  padding: 0.4rem 1rem 0.4rem;
  font-size: 175%;
  margin: auto;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
  margin-top: 0.5rem;
  box-shadow: 0 0 5px var(--off-black);
  color: var(--off-black);
}
.goog-te-gadget .goog-te-combo:focus {
  outline: none;
}

.close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  cursor: pointer;
}

.center-pop-up {
  overflow-y: hidden;
  transition: all 1s ease;
  max-width: 36rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 800;
  background: var(--white);
  padding: 2rem 1rem;
  border: 1px solid var(--black);
  box-shadow: 0 0 10px var(--black);
  border-radius: 0.5rem;
}
.center-pop-up.msg {
  padding-bottom: 6rem;
}
.center-pop-up.msg #inner-pop {
  bottom: 0;
}
.center-pop-up input {
  padding: 1rem 0.5rem;
  font-size: 150%;
  margin: 0 0 1rem 0;
  border-radius: 0.5rem;
  min-width: 15rem;
  border: 1px solid var(--black);
  margin: auto;
  margin-bottom: 1rem;
}
.center-pop-up h2 {
  text-align: center;
  margin: 1rem 0;
  font-size: 200%;
  color: var(--blue);
}
.center-pop-up .ReCAPTCHA {
  margin: 0.5rem 0;
}
.center-pop-up .ReCAPTCHA div {
  margin: auto;
}
@media (max-width: 768px) {
  .center-pop-up input {
    padding: 0.25rem;
  }
}

#register form {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    height: 500px;
  }

  @media (max-width: 415px){
     #register form {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: scroll;
  }
  }


#login img {
  width: 100%;
}
#login form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#login form .container {
  display: flex;
  justify-content: center;
}
#login form .container .button-container:first-child {
  margin-right: 1rem;
}

.pop-up {
  position: fixed;
  max-width: 40rem;
  background: var(--white);
  transition: right 1s ease, bottom 1s ease;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--black);
  box-shadow: 0 0 10px var(--black);
  z-index: 500;
  right: -200%;
}

.pop-up h2 {
  font-size: 110%;
  padding-right: 1.5rem;
}
.pop-up input[type="text"] {
  border: 1px solid var(--black);
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
.pop-up.visible {
  right: 1rem;
}
.pop-up .container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.pop-upL {
  position: fixed;
  max-width: 30rem;
  background: var(--white);
  transition: right 1s ease, bottom 1s ease;
  border-radius: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--black);
  box-shadow: 0 0 10px var(--black);
  z-index: 500;
  right: -200%;
}

.pop-upL h2 {
  font-size: 110%;
  padding-right: 1.5rem;
}
.pop-upL input[type="text"] {
  border: 1px solid var(--black);
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
.pop-upL.visible {
  left: 1rem;
}
.pop-upL .container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-between;
}

.background-blur {
  width: 100%;
  height: 100%;
  position: fixed;
  left: -200%;
  top: 0;
  background: var(--clear-white);
  backdrop-filter: blur(0px);
  z-index: 99999;
  transition: all 0.5s ease;
}
.background-blur #free-call {
  bottom: 20rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  min-height: 13rem;
  width: 80%;
  position: relative;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.background-blur #free-call h2 {
  font-size: 200%;
  margin-bottom: 1rem;
  color: var(--blue);
  padding-right: 1rem;
}
.background-blur #free-call .container {
  margin: 2rem auto 0;
}
.background-blur.visible {
  left: 0;
  backdrop-filter: blur(10px);
}

.card-container {
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px;
  transition: 0.3s;
  animation: ease-in;
}

.card-container:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 15px 0px;
}

.image-container img {
  overflow: hidden;
  height: 200px;
}

.card-content {
  margin: 1rem;
  margin-top: 0.3rem;
}

#free-call {
  bottom: 6rem;
}
#free-call ul {
  display: flex;
  margin: 0.5rem 0;
}
#free-call ul li {
  margin: 0 0.5rem 0 0;
}
#free-call .pages {
  text-align: left;
}
#free-call .useful {
  float: left;
}
@media (max-width: 768px) {
  #free-call.visible {
    left: -200%;
  }
}

#licensing {
  top: 16rem;
}
#licensing ul {
  display: flex;
  margin: 0.5rem 0;
}
#licensing ul li {
  margin: 0 0.5rem 0 0;
}
#licensing .pages {
  text-align: left;
}
#licensing .useful {
  float: left;
}
@media (max-width: 768px) {
  #licensing.visible {
    left: -200%;
  }
}

#feedback {
  bottom: 6rem;
}
#feedback ul {
  display: flex;
  margin: 0.5rem 0;
}
#feedback ul li {
  margin: 0 0.5rem 0 0;
}
#feedback .pages {
  text-align: right;
}
#feedback .useful {
  float: right;
}
@media (max-width: 768px) {
  #feedback.visible {
    right: -200%;
  }
}

.button-container {
  text-transform: capitalize;
  border: 1px solid var(--main-color-clear);
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  position: relative;
  width: fit-content;
  overflow: hidden;
  border: 1px solid var(--off-black);
  box-shadow: 1px 1px 5px var(--off-black);
}
.button-container .button {
  font-family: var(--raleway);
  font-size: 125%;
  font-weight: 500;
  color: var(--black);
  transition: all 0.5s ease;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.button-container::before {
  top: 0;
  left: 100%;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--blue-clear);
  transition: all 0.5s ease;
}
.button-container.active::before {
  left: 0;
}
.button-container:hover::before {
  left: 0;
}

#toolbar {
  position: fixed;
  bottom: 0;
  height: 5rem;
  width: 100%;
  background-color: var(--off-white);
  display: flex;
  flex-direction: row;
  transition: bottom 1s ease;
  border-top: 1px solid var(--black);
  z-index: 700;
}
#toolbar section {
  flex: 60%;
  margin: auto 3rem;
  padding: 0;
}
#toolbar section p {
  font-size: var(--font-tiny);
  margin: 0 0 0 auto;
  color: var(--black);
  max-width: var(--content-regular);
}
#toolbar section strong {
  font-size: var(--font-medium);
  display: inline;
  color: inherit;
  padding-right: 0.5rem;
}
#toolbar .buttons {
  flex: 30%;
  display: flex;
  margin: auto;
}
#toolbar .buttons .button-container {
  margin-right: 1rem;
}
@media (max-width: 1200px) {
  #toolbar section {
    margin: auto 0.5rem;
  }
  #toolbar .button-container .button {
    font-size: var(--font-tiny);
  }
}
@media (max-width: 768px) {
  #toolbar section,
  #toolbar .buttons {
    flex: 50%;
    justify-content: center;
  }
  #toolbar section p {
    text-align: right;
  }
  #toolbar section span {
    display: none;
  }
}

#burger-button {
  display: none;
  position: fixed;
  top: 3.5rem;
  right: 1rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 11111;
}
#burger-button span {
  width: 3rem;
  height: 5px;
  background: var(--blue);
  position: absolute;
  border-radius: 50rem;
  transition: all 0.5s ease;
  top: 0;
}
#burger-button span:nth-child(2) {
  top: 15px;
  opacity: 1;
}
#burger-button span:nth-child(3) {
  top: 30px;
}
#burger-button.open span:nth-child(1) {
  transform: rotate(-45deg);
  top: 15px;
}
#burger-button.open span:nth-child(2) {
  opacity: 0;
}
#burger-button.open span:nth-child(3) {
  transform: rotate(45deg);
  top: 15px;
}

.scrolled #header {
  color: var(--black);
}
.scrolled #header:before {
  top: 0;
}
@media (max-width: 992px) {
  .scrolled #header:before {
    top: -5rem;
  }
}

@media (max-width: 992px) {
  #burger-button {
    display: inherit;
  }

  #partners ul,
  #services .inner,
  #about .container,
  #contact .inner-container {
    flex-direction: column;
  }

  #contact .inner-container {
    padding: 2rem 0;
    width: 100%;
  }
}

.introVideo {
  width: 500px;
}
@media (max-width: 415px) {
  .introVideo {
    width: 350px;
  }
}

.Subscribe{  
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 415px) {
  .Subscribe{  
 width: 390px ;
}
}

.cardStyle {
    
    margin: auto;
    height: 42rem;
  }

  .trainingCardStyle {
    
    margin: auto;
    height: 72rem;
    text-align: center;
  }

/*# sourceMappingURL=index.css.map */
