#trainings{
    .inner{
        display: flex;
        max-width: $xy-width;
        margin: auto;
        flex-wrap: wrap;
        h3 a{
            text-decoration: underline;
            &:hover{
                color: var(--blue);
            }
        }
        .img{
            width: 100%;
            height: auto;
            margin-bottom: 1rem;
            max-width: 25rem;
        }
        > li{
            flex: 30%;
            padding:2rem 1rem;
            >a{
                margin-left: 1rem;
            }    
        }
        ul li {
            padding: .5rem 0;
            padding-left: 1rem;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                height: .5rem;
                width: .5rem;
                top: 1.2rem;
                left: 0;
                border-radius: 50%;
                background: var(--blue);
            }
        }
        @media (max-width: 992px) { 
            flex-direction: column;
        }
    }
}